@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
:root{
    --bluecolor:blue;
    --lime:#a3e635;
    --f:#e879f9;
    --Emerald:#064e3b
}
*{
    font-family: 'Montserrat', Courier, monospace;
    margin: 0rem 0rem;
    font-size: 20px;
    font-weight: bold;
}
nav  ul li{
    display: inline-block;
    padding: 1rem;
}
nav{
    background-color: var(--Emerald);
    overflow: hidden;
    border-bottom-left-radius: 2.5rem;
}
nav h1{
    padding: 0.4rem ;
    color: white;
}
nav li{
    list-style: none;
    float: right;
}
nav li a{
    text-decoration: none;
    color: white;
    font-weight: bold;  
}
.header{
    align-items: center;
}
.header img{
    padding: 1rem;
    max-width: 200px;
    margin: auto;
    display: block;
}
.header h1{
    text-align: center;
    color: gray;
    font-size: 42px
}
.header h1 strong{
    color: var(--Emerald);
    font-size: 42px;
    font-weight: bold;
}
.tech{
    padding: 3rem;
    text-align: center;
    background-color: whitesmoke;
}
.tech h2{
    max-width: 600px;
    margin: auto;
}
.Projects{
    padding: 1rem;
    text-align: center;
}
.Blogs{
    padding: 1rem;
    text-align: center;
    background-color: whitesmoke;
}
.Blogs h2{
    max-width: 600px;
    margin: auto;
}
.Projects h2{
    max-width: 600px;
    margin: auto;
}
.Projects a{
    padding: 0rem 1rem;
    background-color: var(--Emerald);
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3rem;    
}
.Blogs a{
    padding: 0rem 1rem;
    text-align: center;
    border: 1px solid var(--Emerald);
    color: var(--Emerald);
    font-size: 20px;;
    font-weight: bold;
    border-radius: 5rem;    
}


footer{
    background-color: var(--Emerald);
    text-align: center;
    color: white;
    padding: 2rem 2rem;
    border-bottom-right-radius: 2rem;
}
footer a{
    text-decoration: none;
    color: white;
}
/* project.html css*/
.code{
    padding: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.code strong{
    color: var(--Emerald);
    font-size: 30px;
    font-weight: bold;
}
/* .projecttemp h1{
    padding: 0.5rem;
    text-align: center;
    
}
.projecttemp .list h1{
    font-size: 2rem;
    display: block;
    

}
.projecttemp small{
    position: absolute;
    left: 420px;
    font-size: 14px;
}
 */
.lists{
    max-width: 450px;
    margin: auto;
}
.lists li{
    font-size: 1.2rem;
    font-weight: bold;
}
.lists a{
    display: inline-block;
    padding: 1rem 1rem;
    border: 1px solid var(--Emerald);
    border-radius: 1rem;
    color: black;
    
   
}
.lists .live{
    padding: 1rem 1rem;
    color: white;
    border: 1px solid var(--Emerald);
    border-radius: 2rem;
    background-color: var(--Emerald);
}
.lists p{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
